<?xml version="1.0"?>
<launch>

<!-- TODO: Use launch options for model and virtual yes/no -->

<!-- Choose either yolo (for testing) or mobilenet (for testing with the example network and the door application) -->
	<!-- <include file="$(find depthai_examples)/launch/yolov4_publisher.launch"/> -->	
	<include file="$(find armchair)/launch/mobile_publisher.launch"/>
	
	<node pkg="tf" type="static_transform_publisher" name="root2oak_bcast" args= "0.0 -0.05 0.1 0.0 3.14 3.14 root oak-d_frame 100"/>

<!-- TODO: Needed when using virtual robot? -->
	<include file="$(find kinova_bringup)/launch/kinova_robot.launch"/>

	<!-- <include file="$(find j2n6s300_moveit_config)/launch/j2n6s300_demo.launch" /> -->
	<include file="$(find j2n6s300_moveit_config)/launch/j2n6s300_virtual_robot_demo.launch" />

	<node pkg="armchair" name="camera_interface" type="camera_interface.py" />
	<node pkg="armchair" name="robot_interface" type="robot_interface.py" />

</launch>
